<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
<label for="name"> Name: </label>
<input type="text" name="name" id="name" value="Your Name Here">
<label for="email"> Email: </label>
<input type="text" name="email" id="email" value="Your Email Here">
<label for="password"> Password: </label>
<input type="password" name="password" id="password" value="">
<input type="submit" name="Submit" value="Sign Up!">
</form>


